# 数据库访问配置
# 主数据源，默认的
---
spring:
  profiles: local
  datasource:
    druid:
      name: MySQL-Test-ENV
      # DataSource基本信息配置
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://centos7-1:3306/test
      username: root
      password: root

      # 数据库连接池配置
      # 下面为连接池的补充设置，应用到上面所有数据源中
      # 初始化大小，最小，最大
      # 初始化时建立物理连接的个数。初始化发生在显示调用init方法，或者第一次getConnection时
      initial-size: 5
      # 最小连接池数量
      min-idle: 5
      # 最大连接池数量
      max-active: 20
      # 获取连接等待超时的时间
      max-wait: 60000
      use-unfair-lock: true
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 'x'
      validation-query-timeout: 3
      test-while-idle: true
      # 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。
      test-on-borrow: false
      test-on-return: false
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,log4j2

      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      # 合并多个DruidDataSource的监控数据
      use-global-data-source-stat: true
      web-stat-filter:
        enabled:  true
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
        session-stat-enable: true
        session-stat-max-count: 1000
        principal-session-name:
        principal-cookie-name:
        profile-enable:
      #pool-prepared-statements: true
      #max-pool-prepared-statement-per-connection-size: 150
      # aop-patterns: com.liuhaozzu.spring.data.investigation.repository.*
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: false
        login-username: admin
        login-password: admin
        allow:
        deny:
      aop-patterns: com.liuhaozzu.spring.data.investigation.repository.*
  jpa:
      generate-ddl: false
      hibernate:
        ddl-auto: update
      open-in-view: true
      show-sql: true
  # redis
  redis:
    host: centos7-1
    port: 6379
    pool:
      min-idle: 0
      max-idle: 8
      max-active: 8
      max-wait: -1
# log4j2 configuration
log4j:
  level: DEBUG
# spring boot actuator
management:
  security:
    enabled: false

validation:
  enabled: false

# jetcache
#jetcache:
#  statIntervalMinutes: 15
#  areaInCacheName: false
#  local:
#    default:
#      type: linkedhashmap
#      keyConvertor: fastjson
#  remote:
#    default:
#      type: redis
#      keyConvertor: fastjson
#      valueEncoder: java
#      valueDecoder: java
#      poolConfig:
#        minIdle: 5
#        maxIdle: 20
#        maxTotal: 50
#      host: centos7-1
#      port: 6379

#-------------------ehcache----------------------
#spring:
#  cache:
#    type: jcache
#    jcache:
#      config: classpath:/config/ehcache.xml
#      provider: org.ehcache.jsr107.EhcacheCachingProvider